.aboutMe {
  display: flex;
  color: #203647;
  width: 90%;
  margin: auto;
  gap: 3rem;
  line-height: 1.5;
  align-items: center;

  h1 {
    margin-bottom: 1rem;
    text-decoration: underline;
    text-decoration-color: #e55b1a;
  }

  p {
    // font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  @media (min-width: 1200px) {
    max-width: 100rem;
  }
}

.headshot {
  width: 32rem;
  height: 22rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
