.aboutMe {
  color: #203647;
  width: 90%;
  margin: auto;
  line-height: 1.5;
  align-items: center;

  .aboutMeDetails {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
    }
  }

  .header {
    border-bottom: 4px solid #e55b1a;
    display: inline-block;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  @media (min-width: 1200px) {
    max-width: 110rem;
  }
}

.headshotContainer {
  display: flex;
  align-items: center;
}

.headshot {
  width: 100%;
  height: 100;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
