.aboutMe {
  color: #203647;
  width: 90%;
  margin: auto;
  line-height: 1.5;
  align-items: center;

  .aboutMeDetails {
    display: flex;
    gap: 3rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .header {
    border-bottom: 4px solid #e55b1a;
    display: inline-block;
    margin-bottom: 3rem;
  }

  p {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }

  @media (min-width: 1200px) {
    max-width: 100rem;
  }
}

.headshot {
  width: 32rem;
  height: 22rem;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
