.projectsContainer {
  color: #203647;
  width: 90%;
  margin: auto;

  @media (min-width: 1200px) {
    max-width: 100rem;
  }

  .projects {
    display: flex;
    flex-direction: column;
    gap: 7rem;
  }

  .header {
    border-bottom: 4px solid #e55b1a;
    display: inline-block;
    margin-bottom: 5rem;
  }
}
