.skills {
  color: #203647;
  .header {
    border-bottom: 4px solid #e55b1a;
    display: inline-block;
    margin-bottom: 5rem;
  }

  width: 90%;
  margin: auto;
  @media (min-width: 1200px) {
    max-width: 110rem;
  }

  .skillsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5rem;
    width: 70%;
    margin: auto;
    img {
      max-width: 14rem;
      height: 5rem;
    }
  }
}
